.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
.env
.env.local
.env.production
android/.gradle/
android/app/build/
ios/Pods/
ios/.symlinks/
.DS_Store
*.log
